<h1>4-FormTesting</h1>

<form [formGroup]="frm" (ngSubmit)="submit()">
<div class="row">
  <div class="col-12">
    <h2>Person Informations</h2>

    <div class="alert alert-danger" *ngIf="frm.invalid && frm.dirty">
      The form is in status '{{ frm.status }}' and cannot be submitted.

      <ul>
        <li *ngFor="let err of getFormValidationErrors()">
          <b>{{ err.prop }}</b>: {{ err.errors | json }}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label>Country</label>
      <select class="form-select" formControlName="country">
        <option selected value="">Select country</option>
        <option *ngFor="let country of Countries" [value]="country">{{ country }}</option>
      </select>
    </div>
  </div>


  <div class="col-6">
    <div class="form-group">
      <label>INSS <small>(ex: 78.05.20-101.02)</small></label>
      <input type="text" class="form-control" formControlName="inss">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label>Birth Date</label>
      <input type="text" class="form-control" formControlName="birthDate">
    </div>
  </div>


  <div class="col-12" formGroupName="address">
    <h2>Address</h2>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Street</label>
          <input type="text" class="form-control" formControlName="street">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" formControlName="city">
        </div>
      </div>
    </div>
  </div>

  <div class="col-12" formGroupName="business">
    <h2>Business</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="active">
      <label class="form-check-label">Business user</label>
    </div>

    <div class="row" *ngIf="frm.get('business.active')?.value !== false">
      <div class="col-6">
        <div class="form-group">
          <label>Company Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>TAX</label>
          <input type="text" class="form-control" formControlName="tax">
        </div>
      </div>


      <div class="col-12">
        <h3>Correspondence</h3>
        <div class="form-check">
          <input class="form-check-input" value="Email" type="radio" formControlName="correspondence">
          <label class="form-check-label">Email</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="Post" type="radio" formControlName="correspondence">
          <label class="form-check-label">Post</label>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <hr>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="eula">
        <label class="form-check-label">Accept EULA</label>
      </div>
  </div>


  <div class="col-12">
    <button type="button" class="btn btn-secondary" (click)="frm.reset()">Reset</button>
    <button type="submit" class="btn btn-success" [disabled]="frm.invalid">Submit</button>
  </div>

  <div class="col-12">
    <pre>JSON:
{{ frm.value | json }}</pre>
  </div>
</div>
</form>
