<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://itenium.be">
      <img src="/assets/itenium.png" />
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">{{ 'home' | translate }}</a>
        </li>
      </ul>

      <form class="d-flex input-group w-auto" [formGroup]="langFrm">
        <app-language-select formControlName="language"></app-language-select>
      </form>
    </div>
  </div>
</nav>
